* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f7f3;
    color: #253c59;
    font-family: "Comic Sans MS", cursive, sans-serif;
}



.seccion-blanca {
    background-color: #ffffff;
    border-top: 1px solid #d8e8f5;
    border-bottom: 1px solid #d8e8f5;
    padding: 30px 0;
}

#habilidades{
    width: 100%;
    margin-top: 50px;
}



.encabezado {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #d8e8f5;
}

.navegacion {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navegacion .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.logo a {
    color: #253c59;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #253c59;
    font-weight: bold;
}

.menu a:hover {
    color: #e8998d;
}




.inicio {
    max-width: 1100px;
    min-height: 600px;
    margin: auto;
    padding: 80px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inicio-texto {
    width: 55%;
    min-height: 280px;
}

.inicio-texto h2{
    align-items: center;
}

.inicio h1 {
    font-size: 55px;
    margin: 10px 0;
}

.inicio h2 {
    color: #6eb6df;
    font-size: 26px;
    margin-bottom: 20px;
}

.inicio-texto p {
    max-width: 600px;
    font-size: 17px;
    margin-bottom: 30px;
}

.inicio-texto .saludo {
    margin-bottom: 0;
}

.boton {
    display: inline-block;
    text-decoration: none;
    background-color: #253c59;
    color: white;
    padding: 13px 25px;
    border-radius: 25px;
    font-size: 17px;
}

.boton:hover {
    background-color: #e8998d;
}

.boton:active {
    background-color: #253c59;
}



.inicio-foto {
    width: 40%;
    display: flex;
    min-width: 250px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.circulo-foto {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 300px;
    border-radius: 50%;
    background-color: #d8e8f5;
    border: 8px solid white;
    box-shadow: 0 10px 30px rgba(37, 60, 89, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo-foto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}


.seccion {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 80px 30px;
}

.habilidades {
    width: 100%;
    padding: 80px 30px;
    max-width: 100%;
}

.titulo-seccion {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.titulo-seccion span {
    color: #e8998d;
    font-size: 35px;
}

.titulo-seccion p {
    color: #8c9da8;
    font-size: 17px;
}

.titulo-seccion h2 {
    font-size: 38px;
}



.tarjetas-proyectos {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tarjeta-proyecto {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 8px 25px rgba(37, 60, 89, 0.08);
    transition: 0.3s;
}

.tarjeta-proyecto:hover {
    transform: translateY(-8px);
}
.tarjeta-proyecto img {
    width: 100%;
    height: 250px;
    border-radius: 18px;
}

.tarjeta-proyecto h3 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.tarjeta-proyecto p {
    margin-bottom: 20px;
}

.tecnologias {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.enlaces-proyecto {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.enlaces-proyecto a {
    color: #6eb6df;
    text-decoration: none;
    font-weight: bold;
}

.enlaces-proyecto a:hover {
    color: #e8998d;
}




.habilidad {
    background-color: #f9f7f3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(37, 60, 89, 0.05);
}

.habilidad-arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.habilidad h3 {
    font-size: 20px;
}

.habilidad-arriba span {
    color: #8c9da8;
    font-weight: bold;
}

.barra {
    width: 100%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.progreso-html {
    width: 70%;
    height: 100%;
    background-color: #6eb6df;
    border-radius: 10px;
}

.progreso-css {
    width: 85%;
    height: 100%;
    background-color: #e8998d;
    border-radius: 10px;
}

.progreso-js {
    width: 50%;
    height: 100%;
    background-color: #253c59;
    border-radius: 10px;
}

.progreso-git {
    width: 80%;
    height: 100%;
    background-color: #8c9da8;
    border-radius: 10px;
}

.progreso-github {
    width: 88%;
    height: 100%;
    background-color: #6eb6df;
    border-radius: 10px;
}

.frase-seccion {
    margin-top: 35px;
    color: #e8998d;
    font-size: 22px;
}


.columna {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.referencia {
    flex: 1;
    min-width: 280px;
}

.educacion {
    flex: 1;
    min-width: 280px;
}


.perfil-profesor {
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(157, 201, 255, 0.08);
    text-align: center;
}

.perfil-profesor img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 5px solid #d8e8f5;
    margin-bottom: 15px;
}

.datos-profesor h3 {
    font-size: 23px;
    margin-bottom: 5px;
}

.descripcion-profesor {
    color: #6eb6df;
    margin-top: 10px;
    margin-bottom: 25px;
}

.correo-profesor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #253c59;
    text-decoration: none;
    margin-top: 10px;
}

.correo-profesor span {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #d8e8f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correo-profesor:hover {
    background-color: #d8e8f5;
}


.tarjeta-educacion {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(37, 60, 89, 0.08);
    display: flex;
    gap: 20px;
}

.icono-educacion {
    width: 50px;
    height: 50px;
    background-color: #d8e8f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.icono-educacion img{
    height: 65px;
    width: 65px;
}


.tarjetas-trabajos {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    width: 100%;
}

.tarjeta-trabajo {
    background-color: #f9f7f3;
    padding: 25px;
    border-radius: 25px;
    width: 115%;
    flex: 1;
    display: flex;
    gap: 20px;
    box-shadow: 0 8px 25px rgba(37, 60, 89, 0.05);
}

.icono-trabajo {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #d8e8f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-trabajo span {
    display: inline-block;
    margin-top: 15px;
    color: #6eb6df;
    font-size: 14px;
}


/* =========================
VIDEO
========================= */

.video-seccion {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.video {
    width: 55%;
    min-width: 250px;
}

.video video {
    width: 100%;
    border-radius: 25px;
}

.video-texto {
    width: 40%;
    min-width: 250px;
}

.video-texto h2 {
    font-size: 38px;
    margin: 10px 0 20px;
}


.contacto {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.contacto-texto {
    width: 40%;
    min-width: 250px;
}

.contacto-texto h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.contactos {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 250px;
}

.contacto-card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.contacto-card span {
    color: #e8998d;
    font-size: 25px;
}

.contacto-card strong {
    color: #253c59;
}

.contacto-card p {
    color: #8c9da8;
    margin-top: 5px;
}


footer {
    background-color: #253c59;
    color: white;
    text-align: center;
    padding: 30px;
}

footer p {
    margin: 5px;
}
.trabajos-seccion {
    width: 100%;
}

.titulo-trabajos {
    margin-bottom: 40px;
}

.tarjetas-tareas {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.tarjeta-tarea {
    background-color: #f9f7f3;
    padding: 25px;
    border-radius: 25px;
    width: 30%;
    min-width: 250px;
    flex: 1;
    display: flex;
    gap: 20px;
    box-shadow: 0 8px 25px rgba(37, 60, 89, 0.05);
}